<div id="url-div" style="display: none;" data-url="{{url}}"></div>
<div class="container" style="max-width: 600px; background-color: #fff">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start;">
        <h4>Inventory</h4>
        <div style="width: 100%; padding-bottom: 10px; display: flex; flext-direction: row; justify-content: flex-end;">
            <button class="btn btn-sm btn-primary" id="create-btn">Create New</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Views</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each items}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.views}}</td>
                        <td>{{this.timestamp}}</td>
                        <td>
                            <button class="edit-btn btn btn-sm btn-default" style="border: 1px solid #ccc" data-id="{{this.id}}">
                                edit
                            </button>
                            <button class="delete-btn btn btn-sm btn-danger" data-id="{{this.id}}">
                                delete
                            </button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="{{url}}/admin.js"></script>