<div id="url-div" style="display: none;" data-url="{{url}}"></div>
<div class="container" style="max-width: 600px; background-color: #fff">
    <h1>admin</h1>
    <div>
        <h4> Edit  Item</h4>
        <div id="id-div" style="display: none;" data-id="{{editItem.id}}"></div>
        <div class="form-group">
            <label>title</label>
            <input id="title-input" type="text" class="form-control" value="{{editItem.title}}" />
        </div>

        <div class="form-group">
            <label>description</label>
            <textarea rows="2" id="description-input" type="text" class="form-control">{{editItem.description}}</textarea>
        </div>

        <div class="form-group">
            <label>body</label>
            <textarea rows="4" id="body-input" type="text" class="form-control">{{editItem.body}}</textarea>
        </div>

        <div class="form-group">
            <label>directory</label>
            <input id="directory-input" type="text" class="form-control" value="{{editItem.directory}}" />
        </div>
    </div>

    <h4>Comments</h4>
    <hr />
    {{#each comments}}
        <div>
            <p>{{this.email}}</p>
            <p>{{this.name}}</p>
            <p>{{this.comment}}</p>
            <div style="width: 100%; display: flex; flex-direction: row; justify-content: flex-end;">
                <p>{{this.timestamp}}</p>
            </div>
            <div style="width: 100%; display: flex; flex-direction: row; justify-content: flex-end;">
                {{#if this.hidden}}
                    <button class="btn btn-sm btn-default show-comment-btn" data-id="{{this.id}}" style="border: 1px solid #ccc">show</button>
                {{else}}
                    <button class="btn btn-sm btn-default hide-comment-btn" data-id="{{this.id}}" style="border: 1px solid #ccc">hide</button>
                {{/if}}
                <button class="btn btn-sm btn-danger delete-comment-btn" data-id="{{this.id}}">delete</button>
            </div>
        </div>
        <hr />
    {{/each}}
    <div style="width: 100%; display: flex; flex-direction: row; justify-content: flex-end">
        <button class="btn btn-sm btn-default" style="border: 1px #ccc solid" id="cancel-btn">Cancel</button>
        <button id="save-btn" class="btn btn-sm btn-primary">Save</button>
    </div>
</div>
<script src="{{url}}/admin-edit.js"></script>